.ai {
    background-color: white;
}

.balloon {
    --bg-color: limegreen;
    display: table;
    position: relative;
    color: black;
    border: 2px solid var(--bg-color);
    background-color: var(--bg-color);
    padding: 0 .5em;
    border-radius: 10px;
    margin-bottom: 9px;
    display: table;
    min-height: 100px;
    width: 500px;
}

.balloon pre {
    display: table-cell;
    vertical-align: middle;
}

.horn {
    margin: -16px 70px 0;
    color: limegreen;
}

.thinking {
    display: inline-block;
    animation: buru .1s infinite;
}


@keyframes buru {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }

    25% {
        transform: translate(2px, 2px) rotateZ(0deg)
    }

    50% {
        transform: translate(0px, 2px) rotateZ(0deg)
    }

    75% {
        transform: translate(2px, 0px) rotateZ(0deg)
    }

    100% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
}