.balloon {
    --bg-color: limegreen;
    display: table;
    position: relative;
    color: black;
    border: 2px solid var(--bg-color);
    background-color: var(--bg-color);
    padding: 0 .5em;
    border-radius: 10px;
    margin-bottom: 9px;
    display: table;
    min-height: 100px;
    min-width: 350px;
    max-width: 100%;
    width: 100%;
}

.balloon pre {
    display: table-cell;
    vertical-align: middle;
}

.horn {
    margin: -16px 260px 0;
    color: limegreen;
}